<div class="post-info">
  {% if include.author %}
    {% assign a = site.data.authors[include.author] %}
    {% if a %}
      <div class="post-author">
        {% if a.image %}
          <img src="{{ a.image | relative_url }}" alt="{{ a.name }}">
        {% endif %}
        <span>{{ a.name }}</span>
      </div>
    {% else %}
      <div class="post-author">
        {{ include.author }}
      </div>
    {% endif %}
  {% endif %}

  <div class="post-meta">
    <span class="post-date">
      <i class="fa fa-calendar"></i> {{ include.published | date: "%B %e, %Y" }}
    </span>
    {% if include.updated %}
      <span class="post-updated">
        <i class="fa fa-sync"></i> {{ include.updated | date: "%B %e, %Y" }}
      </span>
    {% endif %}
  </div>

  {% if include.tags %}
    <div class="post-tags">
      {% for tag in include.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>
